@import './variables.scss';

.posts{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__images{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;

        &__thumbnail{
            position: relative;
            width: 250px;
            margin: 0.5rem;
        }
        &__img{
            cursor: pointer;
            border-radius: 0.7rem;
        }
    }
    &__contents{
        &__social{
            width: $width-general;
            overflow: auto;
            margin: 0 auto;
            & select{
            text-align: center;
            background: $color-primary-opacity !important;
            opacity: 0.8;
            }
        }}

}

//* Media Queries

@media screen and (min-width: 720px) {
    .posts{
        &__images{
            width: 532px;
        }
        &__contents{
            &__social{
                width: 50%;
            }}
    }
  }
  
  @media screen and (min-width: 1024px) {
  }