@import './variables.scss';

.posts{
    &__images{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: $width-general;
        &__img{
            border-radius: 0.7rem;
            padding: $paddin-card;
        }
    }
}

//* Media Queries

@media screen and (min-width: 720px) {
    .posts{
        &__images{
            width: 500px;
        }
    }
  }
  
  @media screen and (min-width: 1024px) {
  }