@import './variables.scss';

.posts{
    &__images{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: $width-general;
        &__img{
            border-radius: 0.7rem;
            padding: $paddin-card;
            cursor: pointer;
        }
    }
    &__contents{
        &__social{
            width: $width-general;
            overflow: auto;
            margin: 0 auto;
            & select{
            text-align: center;
            background: $color-blue !important;
            opacity: 0.8;
            }
        }}

}

//* Media Queries

@media screen and (min-width: 720px) {
    .posts{
        &__images{
            width: 500px;
        }
        &__contents{
            &__social{
                width: 50%;
            }}
    }
  }
  
  @media screen and (min-width: 1024px) {
  }