@import './variables.scss';



// /*--Font--*/
// $font-primary: 'Roboto', sans-serif;
// $font-secondary: 'Roboto', sans-serif;
// $font-size: 1.6rem;
// $font-size-small: 1.4rem;
// $font-size-medium: 1.8rem;
// $font-size-bold: 900;


.footer{
  position: absolute;
  bottom: 0;
  &-contact{
    line-height: 2rem;
    &-list-social{
      padding:  1.5rem 0;
      display: flex;
      justify-content: space-around;
      background: $color-background;
    }
  }
}

//* Media Queries

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 1024px) {
s
  .footer{
    &-form{
      &-textarea{
        & textarea{
          width: 100%;
        }
      }
      &-top{
        display: flex;
        justify-content: space-between;
      }
      &-input{
        width: 30%;
        & input[type="text"], input[type="email"]{
          width: 100%;
        }
      }
  }

  }

}
