@use './reset.scss';
@use './fonts.scss';
@use './icon.scss';
@import './variables.scss';

body {
  font-family: $font-primary;
  font-size: $font-size;
  color: $font-color;
  text-align: center;
  line-height: 1.8;
  white-space: pre-line;
}

h1{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0;
}
h3{
  font-weight: bold;
}
h1, h2{
  font-family: $font-secondary;
  font-weight: bold;
}
  //* Button
button{
    font-size: $font-size;
    background: $color-glass;
    border: 1px solid #ffffff4d;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    transition: color 1s linear;
    & i{
      padding: 0 0 0 1rem ;
    }
  }
.button{
  &-glass{
      background: $color-glass;
      border: 1px solid $color-glass;
      backdrop-filter: blur(5rem);
      color: $color-white;
    }
    &-submit{
      backdrop-filter: blur(7.1px);
      -webkit-backdrop-filter: blur(7.1px);
      border: 1px solid rgba(63, 194, 240, 0.3);
      background: rgba(63, 194, 240, 1);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.11);
      color: #fff;
      }
    

    &:hover{
      transition: color 1s linear;
    }
}


//* Form
input,
textarea{
  border: none;
  border-bottom: 0.5px solid $font-color;
  font-size: $font-size;
  width: 100%;
  padding: 0.5rem;
  background: none;
  &:focus{
    outline: none;
  }
  &:active{
    background: none;
  }
  &::placeholder{
    color: $font-color;
    opacity: 0.5;
  }
}
input:-webkit-autofill{
  background: #fff;
}
select{
  width: 100%;
  border: 0.5px solid $font-color;
  font-size: $font-size;
  border-radius: $border-radius;
  background: none;
  padding: 0.5rem;
  &:focus{
    outline: none;
  }
}

img{
  max-width: 100%;
  margin: auto;
}
a:hover{
  color: $color-blue;
  text-shadow: 0 0 0.2rem $color-white;
}
header{
  background: $color-primary-gradient;
  padding: 1rem;
  margin: 0 0 1rem 0;
  & img{
    width: 50%;
  }
}

hr{
  width: 90%;
}

.card{
  background: $color-glass;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  margin: 0 auto;
}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 101%;
  height: 102%;
  backdrop-filter: blur(0.2rem);
  z-index: 1;
}


//* Media Queries

@media screen and (min-width: 720px) {
  .card{
    width: 84%;
  }
  header{
    & img{
      width: 30%;
    }
  }
}