@import './variables.scss';

.modal{
    max-width: 80%;
    position: fixed;
    width: 80%;
    height: 50vh;
    top: 10%;
    transform: translateX(12%);
    background-color: $color-white;
    border-radius: $border-radius;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & button{
        display: block;
    }
}
.cookies{
    position: fixed;
    padding: 1rem 0 0 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    min-height: 60%;
    background-color: $color-primary;
    z-index: 3;
    &__choice{
        width: $margin-card;
        margin: auto;
        &__table{
            width: $margin-card;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-weight: 900;
            margin: 0 0 1rem 0;
            & i{
                font-size: 2.5rem;
                cursor: pointer;
                text-shadow: $text-shadow-black;
            }
        }
        & button{
            width: 100%;
            font-size: $font-size-large;
            padding: 1rem 2rem;
            margin: 0 0 1rem 0;
            transition: all 0.3s easer-in-out; 
            &:hover{
                background-color: $color-primary-opacity;
                transform: scale(1.05);
            }
        }

    }

    & h2{
        margin: 0;
        padding: 0;
    }
    & span{
        font-size: 2.8rem;
        display: block;
    }
    &__button{
        display: flex;
        justify-content: space-evenly;
        & button{
            width: 40%;
            height: 5rem;
            border-radius: $border-radius;
            border: none;
            font-size: 2rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.02);
            }
        }
    }
}


@media screen and (min-width: 720px){
    .cookies{
        &__choice{
            width: $margin-card-720;
        }
        & p{
            width: 60%;
            font-size: $font-size-small;
        }
        &__button{
            & button{
                width: 20%;
            }
        }
    }
}
@media screen and (min-width: 1020px){
    .modal{
        width: 70%;
        left: 15%;
        &_img{
            width: 50%;
            margin: 0 auto;
        }
    }
    .cookies{
        & p{
            width: 60%;
            font-size: $font-size-small;
        }
        &__button{
            & button{
                width: 20%;
            }
        }
    }
}
