@import './variables.scss';

.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    font-family: $font-primary;
    text-align: left;
    padding:  1rem;
    &__list{
        line-height: 1.8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        animation: fadeIn 1s ease;
        position: relative;
    }
    &__{
        margin: 1rem 0;
    }
}
//* Animation
@keyframes fadeIn {
    0% {
        opacity: 0;
        left: -100%;
    }
    30% {
        opacity: 0.5;
        left: 0;
    }
    100% {
        left: 0;
    }
  }