@import './variables.scss';

.pages{
    &__header{
        & img{
            width: 50% !important;
        }
    }
    & h1 {
        width: 50%;
    }
    &__main {
        padding: 1rem;
        margin: 1rem auto;
        min-height: 60vh;
    }
    
}
//* Media Queries

@media screen and (min-width: 720px) {
}
  
@media screen and (min-width: 1024px) {
}
  