/*--Colors--*/
$color-primary: #cdb87f;
$color-primary-opacity: #cdb87f7c;
$color-primary-gradient: linear-gradient(to left bottom, #dac896, #d7c490, #d3c08a, #d0bc85, #cdb87f);

$color-secondary: #7ebe64;


$color-krea: #7ebe64;


$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.541);

$color-blue: #20d2ff;
$color-grey: linear-gradient(to right top, #7d8c91, #748d97, #7a949e, #7f9aa5, #85a1ac);
$color-red: #e22121;
$color-green: #21e2a1;
$color-glass: rgba(255,255,255,0.1);

/*--Fonts--*/
$font-color: #0b0c0e;
$font-color-opacity: #0b0c0e3d;


$font-primary: 'fontGeneral', sans-serif;
$font-secondary: 'fontTitle', sans-serif;
$font-size: 1.5rem;
$font-size-small: 1.2rem;
$font-size-large: 1.8rem;
$font-size-bold: 900;

/*--Borders--*/
$border-radius: 0.2rem;